<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='main.js') }}"></script> -->

    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="../static/main.js"></script>
</head>

<body>
    <h1 class="main-title">Dream Sim</h1>

    <form class="dream-form">
        <div class="textarea-wrapper">
            <textarea class="dream-textarea" name="dream" placeholder="Enter your dream here..." rows="1"
                cols="70"></textarea>
            <button type="submit" class="submit-button">send</button>
        </div>
    </form>

    <div class="loader invisible"></div>
    <div class="response-container">
        <div class="response"></div>
    </div>

    <div class="footer">
        Made with a lot of anxiety and last-minute stress.
    </div>
</body>

</html>